In [16]:
from bse_dsdm.preprocessing.feature_scaling import *
from bse_dsdm.preprocessing.outlier_detection import *
from bse_dsdm.preprocessing.value_encoder import *
from bse_dsdm.preprocessing.value_imputer import *
from bse_dsdm.preprocessing.load_data import *
from bse_dsdm.preprocessing.exploratory_analysis import *
import pandas as pd
from sklearn.model_selection import train_test_split
from abc import ABC, abstractmethod

LOAD DATA

In [23]:
df=load_csv_data('../train.csv')
print(df)

          id   short_name  overall  potential   value_eur  wage_eur  \
0     216302    E. García       71         71   1400000.0     10000
1     237867   D. Cancola       65         71   1000000.0      2000
2     253472      E. Kahl       65         77   1600000.0      2000
3     223994    S. Mugoša       72         72   2300000.0      5000
4     251635  A. Țigănașu       65         65    525000.0      3000
...      ...          ...      ...        ...         ...       ...
6890  242007    C. Whelan       59         66    425000.0      2000
6891  187961     Paulinho       83         83  28500000.0     61000
6892  257234   Y. Hamache       70         80   3400000.0      6000
6893  232511    S. Sasaki       71         71   1300000.0      7000
6894  246750    S. Haudum       66         70   1100000.0      4000

     birthday_date  height_cm  weight_kg                  club_name  ...  \
0       1989-12-28        176         73  Club Atlético de San Luis  ...
1       1996-10-23        183         73             Ross County FC  ...
2       2001-09-27        178         69                  Aarhus GF  ...
3       1992-02-26        188         81          Incheon United FC  ...
4       1990-06-12        179         74                FC Botoşani  ...
...            ...        ...        ...                        ...  ...
6890    1997-12-10        180         65            Carlisle United  ...
6891    1988-07-25        183         80                    Al Ahli  ...
6892    1999-07-13        177         73                Boavista FC  ...
6893    1989-10-02        176         70        Sanfrecce Hiroshima  ...
6894    1994-11-27        188         74        SC Rheindorf Altach  ...

     defending_marking_awareness  defending_standing_tackle  \
0                             65                         66
1                             65                         61
2                             60                         58
3                             16                         22
4                             64                         61
...                          ...                        ...
6890                          52                         57
6891                          80                         79
6892                          62                         67
6893                          72                         72
6894                          65                         63

      defending_sliding_tackle goalkeeping_diving goalkeeping_handling  \
0                           65                 14                   11
1                           58                 10                   13
2                           59                 10                   10
3                           19                 16                   15
4                           58                 12                    5
...                        ...                ...                  ...
6890                        58                 12                    9
6891                        75                 16                   16
6892                        68                  8                    9
6893                        70                  8                   10
6894                        61                 14                    9

      goalkeeping_kicking goalkeeping_positioning  goalkeeping_reflexes  \
0                      12                      12                    12
1                       7                       6                    11
2                       8                      10                    11
3                      13                       8                     9
4                      11                      12                    15
...                   ...                     ...                   ...
6890                   10                       8                    13
6891                   11                       6                     8
6892                    5                       8                    10
6893                   10                      10                     8
6894                   11                       9                     6

     goalkeeping_speed  position
0                  NaN        LB
1                  NaN       LDM
2                  NaN       LWB
3                  NaN        LS
4                  NaN        LB
...                ...       ...
6890               NaN       RCB
6891               NaN       LCM
6892               NaN       LWB
6893               NaN       LCB
6894               NaN       RCM

[6895 rows x 70 columns]

In [24]:
df=remove_columns_with_na(df,80)
print(df)

          id   short_name  overall  potential   value_eur  wage_eur  \
0     216302    E. García       71         71   1400000.0     10000
1     237867   D. Cancola       65         71   1000000.0      2000
2     253472      E. Kahl       65         77   1600000.0      2000
3     223994    S. Mugoša       72         72   2300000.0      5000
4     251635  A. Țigănașu       65         65    525000.0      3000
...      ...          ...      ...        ...         ...       ...
6890  242007    C. Whelan       59         66    425000.0      2000
6891  187961     Paulinho       83         83  28500000.0     61000
6892  257234   Y. Hamache       70         80   3400000.0      6000
6893  232511    S. Sasaki       71         71   1300000.0      7000
6894  246750    S. Haudum       66         70   1100000.0      4000

     birthday_date  height_cm  weight_kg                  club_name  ...  \
0       1989-12-28        176         73  Club Atlético de San Luis  ...
1       1996-10-23        183         73             Ross County FC  ...
2       2001-09-27        178         69                  Aarhus GF  ...
3       1992-02-26        188         81          Incheon United FC  ...
4       1990-06-12        179         74                FC Botoşani  ...
...            ...        ...        ...                        ...  ...
6890    1997-12-10        180         65            Carlisle United  ...
6891    1988-07-25        183         80                    Al Ahli  ...
6892    1999-07-13        177         73                Boavista FC  ...
6893    1989-10-02        176         70        Sanfrecce Hiroshima  ...
6894    1994-11-27        188         74        SC Rheindorf Altach  ...

     mentality_composure  defending_marking_awareness  \
0                     66                           65
1                     59                           65
2                     65                           60
3                     75                           16
4                     58                           64
...                  ...                          ...
6890                  45                           52
6891                  81                           80
6892                  62                           62
6893                  60                           72
6894                  64                           65

      defending_standing_tackle defending_sliding_tackle  goalkeeping_diving  \
0                            66                       65                  14
1                            61                       58                  10
2                            58                       59                  10
3                            22                       19                  16
4                            61                       58                  12
...                         ...                      ...                 ...
6890                         57                       58                  12
6891                         79                       75                  16
6892                         67                       68                   8
6893                         72                       70                   8
6894                         63                       61                  14

     goalkeeping_handling goalkeeping_kicking  goalkeeping_positioning  \
0                      11                  12                       12
1                      13                   7                        6
2                      10                   8                       10
3                      15                  13                        8
4                       5                  11                       12
...                   ...                 ...                      ...
6890                    9                  10                        8
6891                   16                  11                        6
6892                    9                   5                        8
6893                   10                  10                       10
6894                    9                  11                        9

      goalkeeping_reflexes  position
0                       12        LB
1                       11       LDM
2                       11       LWB
3                        9        LS
4                       15        LB
...                    ...       ...
6890                    13       RCB
6891                     8       LCM
6892                    10       LWB
6893                     8       LCB
6894                     6       RCM

[6895 rows x 66 columns]

In [25]:
categorical_columns_na=columns_with_na(df)[0]
print(categorical_columns_na)
numerical_columns_na=columns_with_na(df)[1]
print(numerical_columns_na)

['club_joined', 'player_traits']
['value_eur', 'release_clause_eur', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic']

In [26]:
df=impute_values(df,numerical_columns_na, impute_type='mean')

c:\users\usuario\onedrive\escritorio\bse\computer.science\new project computer science\bse_dsdm\bse_dsdm\preprocessing\value_imputer.py:26: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  filled_df = df.fillna(df.mean())

In [30]:
df=impute_categorical(df,categorical_columns_na)

In [28]:
mapping={'work_rate': {'Low/Low': 1, 'Low/Medium': 2, 'Low/High': 3, 'Medium/Low': 4, 'Medium/Medium': 5, 'Medium/High': 6, 'High/Low': 7, 'High/Medium': 8, 'High/High': 9}}

df = encode_ordinal_columns(df, columns=['work_rate'], mapping=mapping)

In [31]:
df['nationality_name'] = target_encode_column(df, 'nationality_name', 'height_cm', compute_type='mean')

In [35]:
encode_categorical_columns(df['body_type'])

c:\Users\USUARIO\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,body_type_Lean (170-185),body_type_Lean (185+),body_type_Normal (170-),body_type_Normal (170-185),body_type_Normal (185+),body_type_Stocky (170-),body_type_Stocky (170-185),body_type_Stocky (185+),body_type_Unique
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
6890,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6891,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6892,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6893,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6894,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0